$base:              #4D7EA8;
$baseLight:         #124559; 
$baseDark:          #01161E;

$white:             #ffffff;
$black:             #000000;

$grey:              #ECEFF1;
$grey-d:            #c5c5c5;

$accent:            #ef8914;




$media-xl:          "only screen and (max-width: 110em)";        // 1760
$media-l:           "only screen and (max-width: 64em)";         // 1024
$media-m:           "only screen and (max-width: 48em)";         // 768
$media-s:           "only screen and (max-width: 30em)";         // 480





