<md-toolbar>
    <div class="md-toolbar-tools" layout-align="space-between center">
        <section>
            <md-button ui-sref="main.blades({type: 'myobjects', id: ''})" class="md-primary">{{'objects' | translate}}</md-button>
            <md-button ui-sref="main.blades({type: 'account', id: ''})" class="md-primary">{{'account' | translate}}</md-button>
            <md-button ui-sref="main.blades({type: 'permissions', id: ''})" class="md-primary active" ng-if="blade.$rootScope.isAdmin">{{'permissions' | translate}}</md-button>
            <!--<md-button  class="md-primary">{{'comments' | translate}}</md-button>-->
        </section>
    </div>
</md-toolbar>
<md-content layout="column" class="overview-content-container">
    <h2>{{'permissions' | translate}}</h2>

    <!-- search -->
   <div layout="row" class="b-padding" layout-align="start end">
        <div flex="100">
            <md-input-container>
                <label>{{'filter' | translate}}</label>
                <input ng-model="blade.filterValue" ng-change="blade.search()">
            </md-input-container>
        </div>
    </div>


    <!-- search results -->
    <div layout="column"
         infinite-scroll='blade.loadData()'
         infinite-scroll-immediate-check='false'
         infinite-scroll-distance='1'
         infinite-scroll-container='".blade--overview"'>
        <div layout="row" class="b-padding">
            <div class="md-title" flex="30">{{'fields.name' | translate}}</div>
            <div flex="5"></div>
            <div class="md-title" flex="30">{{'fields.email' | translate}}</div>
            <div flex="5"></div>
            <div class="md-title" flex="15">{{'fields.provider' | translate}}</div>
            <div class="md-title" flex="20"></div>
        </div>


        <div layout="row" ng-if="blade.users.length <= 0">
            {{'noentries' | translate}}
        </div>

        <md-progress-circular md-mode="indeterminate" ng-if="blade.loading" md-diameter="25px"></md-progress-circular>

        <div layout="row"  ng-repeat="i in blade.users" class="md-list-selectable"  ng-if="!blade.loading">
            <div flex="30">
                <md-list>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text" layout="column">
                            <h3 ng-if="i.fullname">{{i.fullname }}</h3>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
            <div flex="5"></div>
            <div flex="30" layout="row" layout-align="start center">{{ i.eMail }}</div>
            <div flex="5"></div>
            <div flex="15" layout="row">
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="item in i.loginProviders">
                        <div class="md-list-item-text" layout="column">
                            {{item}}
                        </div>
                    </md-list-item>
                </md-list>
            </div>
            <div flex="20" layout="row" layout-align="end center">
                <md-button class="md-icon-button" ng-click="blade.delete(i,$index)" ng-if="blade.$rootScope.isAdmin">
                    <md-tooltip md-direction="top">
                        {{'delete' || translate}}
                    </md-tooltip>
                    <md-icon flex layout-align="center center">
                        <i class="material-icons">delete</i>
                    </md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="blade.openEdit(i,$index)">
                    <md-tooltip md-direction="top">
                        {{'edit' | translate}}
                    </md-tooltip>
                    <md-icon flex layout-align="center center">
                        <i class="material-icons">&#xE3C9;</i>
                    </md-icon>
                </md-button>

            </div>
        </div>
    </div>
</md-content>
