<md-toolbar>
    <div class="md-toolbar-tools" layout-align="space-between center">
        <section>
            <md-button ui-sref="main.blades({type: 'myobjects', id: ''})" class="md-primary">{{'myobjects' | translate}}</md-button>
            <md-button ui-sref="main.blades({type: 'account', id: ''})" class="active md-primary">{{'account' | translate}}</md-button>
            <md-button ui-sref="main.blades({type: 'permissions', id: ''})" class="md-primary" ng-if="blade.$rootScope.isAdmin">{{'permissions' | translate}}</md-button>
            <!--<md-button  class="md-primary">{{'Kommentare' | translate}}</md-button>-->
        </section>
    </div>
</md-toolbar>
<md-content layout="column" class="overview-content-container">
    <h2>{{'myaccount' | translate}}</h2>

    <div layout="column" class="b-padding">
        <div flex="33">
            <!-- make component -->
            <div class="editable-area">
                <div class="image block well"
                md-whiteframe="3"
                style="background-image: url({{!blade.accountData._embedded.profileImage.url ? '/assets/images/bg-svg.svg' : blade.accountData._embedded.profileImage.url}})">
                    <md-button ng-show="!blade.loadingImage" class="md-fab md-mini md-primary" aria-label="Edit" type="file" ngf-select="blade.uploadPictures($files, $invalidFiles, blade.setProfilePicture)" accept="image/*">
                        <md-icon><i class="material-icons">&#xE3C9;</i></md-icon>
                    </md-button>

                    <md-progress-circular ng-show="blade.loadingImage" md-mode="indeterminate" md-diameter="30" class="loading-image"></md-progress-circular>
                </div>


            </div>
            <md-button ng-click="blade.removeProfilePicture();" class="md-fab md-mini md-primary" aria-label="Delete">
                <md-icon><i class="material-icons">delete</i>
                </md-icon>
            </md-button>

            <input type="hidden" ng-model="blade.accountData.profileImageId" />
        </div>
        <div flex="67" layout="column">
            <div layout="row" layout-wrap>
                <div flex="100">
                    <md-input-container>
                        <label>{{'fields.salutation' | translate}}</label>
                        <md-select ng-model="blade.accountData.gender">
                            <md-option ng-value="opt" ng-repeat="opt in ['male', 'female']">{{ opt | translate }}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex="100">
                    <md-input-container>
                        <label>{{'fields.title' | translate}}</label>
                        <input ng-model="blade.accountData.title">
                    </md-input-container>
                </div>
                <div flex="100">
                    <md-input-container>
                        <label>{{'fields.fullname' | translate}}</label>
                        <input ng-model="blade.accountData.fullname">
                    </md-input-container>
                </div>
                <div flex="100">
                    <md-input-container>
                        <label>{{'fields.email' | translate}}</label>
                        <input ng-model="blade.accountData.eMail">
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
</md-content>

<div class="toolbar">
    <md-icon ng-click="blade.save()"><i class="material-icons">save</i></md-icon>
    <md-icon ng-click="blade.delete()"><i class="material-icons">delete</i></md-icon>
</div>
